<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="group_1">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            <h1 class="name">Mono<span>Muse</span></h1>
        </div>
        <nav>
            <a href="../index.html">Home</a>
            <a id="navselected" href="about.html">About</a>
            <a href="exhibitions.html">Exhibitions</a>
        </nav>
            <div class="cta-group"></div>
                <a href="tickets.html" class="buy-btn">BUY TICKETS</a>
            </div>
    </header>

    <div class="explore_main">
        <h2 class="explore">Mission<span>Statement</span></h2>
        <p class="explore_description">MonoMuse is dedicated to exploring the evolving relationship between art, technology, <br>
            and society. Our mission is to inspire curiosity and creativity by showcasing innovative <br>
            exhibitions that highlight how digital tools, emerging technologies, and human imagination <br>
            shape the future of artistic expression.
        </p>

    <h2 class="milestones">Milestones</h2>
    <ol class="milestones_list">
        <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
        <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
        <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
    </ol>
    </div>
    
    
    <footer>© 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>