<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Checkout</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
            </ul>
        </nav>
    </header>

    <form>
        <label for="name">Name: (required)</label><br>
        <input type="text" id="name"><br>

        <label for="email">Email: (required)</label><br>
        <input type="text" id="email"><br>

        <label for="ticket_quantity">Ticket Quantity: (required)</label><br>
        <input type="text" id="ticket_quantity"><br>

        <input type="submit" value="Submit">
    </form>
    
    <footer>© 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>