<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="group_1">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            <h1 class="name">Mono<span>Muse</span></h1>
        </div>
        <nav>
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
        </nav>
            <div class="cta-group"></div>
                <a href="tickets.html" class="buy-btn">BUY TICKETS</a>
            </div>
    </header>

    <div class="explore_main">
        <p class="top_header">DISCOVER</p>
        <h2 class="explore">Explore<span>the Collection</span></h2>
        <p class="explore_description">Browse works spanning digital art, interactive installation, generative media,<br>
        and traditional forms - all united by the intersection of creativity and <br>
        technology.
        </p>
    </div>

    <div class="card-container">
        <div class="card">
            <div style="background-color: #212D42; height: 120px; width: 210px"></div>
                <div style="background-color: #18181F; height:60px; width:210px">
                    <p>DIGITAL</p>
                    <h4>Synthetic Landscapes</h4>
            </div>
        </div>
        
        <div class="card">
            <div style="background-color: #2F1E69; height: 120px; width: 210px"></div>
                <div style="background-color: #18181F; height:60px; width:210px" class="card1">
                    <p>SCULPTURE</p>
                    <h4>Recursive Architectures</h4>
            </div>
        </div>
        
        <div class="card">
            <div style="background-color: #164755; height: 120px; width: 210px"></div>
                <div style="background-color: #18181F; height:60px; width:210px" class="card1">
                    <p>MIXED MEDIA</p>
                    <h4>Signal & Noise</h4>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <div style="background-color: #5B4412; height: 120px; width: 210px"></div>
                <div style="background-color: #18181F; height:60px; width:210px">
                    <p>PHOTOGRAPHY</p>
                    <h4>Thermal Memories</h4>
            </div>
        </div>
        
        <div class="card">
            <div style="background-color: #1C1C24; height: 120px; width: 210px"></div>
                <div style="background-color: #18181F; height:60px; width:210px" class="card1">
                    <p>DIGITAL</p>
                    <h4>Void Patterns</h4>
            </div>
        </div>
        
        <div class="card">
            <div style="background-color: #441E1C; height: 120px; width: 210px"></div>
                <div style="background-color: #18181F; height:60px; width:210px" class="card1">
                    <p>PAINTING</p>
                    <h4>Crimson Epoch</h4>
            </div>
        </div>
    </div>
    
    <footer>© 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>