<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - MonoMuse</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="group_1">
                <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
                <h1 class="name">Mono<span>Muse</span></h1>
            </div>
        </header>
        
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="membership.html">Membership</a>
            <a href="tickets.html">Tickets</a>
            <button class="hamburger" onclick="toggleNav()">&#9776;</button>
        </nav>  
        <main class="main">
            <div class="explore_main">
                <h2 class="explore">Mission<span>Statement</span></h2>
                <p class="explore_description">MonoMuse is dedicated to exploring the evolving relationship between art, technology, <br>
                    and society. Our mission is to inspire curiosity and creativity by showcasing innovative <br>
                    exhibitions that highlight how digital tools, emerging technologies, and human imagination <br>
                    shape the future of artistic expression.
                </p>

            <h2 class="milestones">Milestones</h2>
            <ol class="milestones_list">
                <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
                <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
                <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
            </ol>
            </div>

            <iframe class="iframe" src="https://www.youtube.com/embed/WBwNw4WjV7g?si=zkCbQh8SPhRAYF1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div id="map"></div>
        </main>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>